template.py
*.egg-info/*
*.pyc
__pycache__/*
dist/*
build/*
artifacts/*
Model/*
.pth
.dvc/cache/
.dvc/tmp/
*.dvc.lock
pipeline.dvc.lock
temp/
docker-help.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/